@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,200&display=swap');

$background:#FAFAFA;
$orange:#FF7B29;
$grey:#949494;
$black:#000000;
$dark-blue:#263FA3;
$yellow:#FFB800;
$blue:#00B2FF;
$white: #ffffff;
$blue-bg:#132742;
$line:#F3F3F3;
$placeholder: #D1D1D1;
$desc:#D6D6D6;


@mixin location() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin text() {
    color: $grey;
    font-size: 16px;
    font-weight: normal;
    line-height: 180.9%;
}


.button {
    background-color: $orange;
    border: none;
    border-radius: 10px;
    outline: 0;
    cursor: pointer;
    width: 150px;
    height: 45px;
    color: white;
    font-size: 12px;
}

body {
    font-family: 'Montserrat';
    padding: 30px 83px 0 83px;
    margin: 0;
    background-color: $background;
    font-weight: bolder;
    @media (max-width: 1200px) {
        padding: 20px 50px 0 50px;
    }

    //Navbar
    #web-navbar {
        align-items: center;
        display: flex;
        justify-content: center;
        .navbar {
            width: 1182px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logo {

                img {
                    width: 100%;
                    height: 100%;
                }

            }

            .menu {

                height: 100%;
                display: flex;
                align-items: center;

                ul {
                    display: flex;
                    padding: 0;

                    li {
                        height: 100%;
                        align-items: center;
                        justify-content: space-between;
                        display: flex;
                        padding: 0 30px;
                        font-size: 14px;
                        font-weight: 600;

                        @media (max-width: 1200px) {
                            padding: 0 20px;
                        }


                        a {
                            display: block;
                            text-align: center;
                            text-decoration: none;
                            color: $grey;


                        }
                    }
                }
            }

            .button-area {
                position: relative;

                .signUp-button {
                    @extend .button;
                }
            }
        }
    }

    header {
        #web-navbar{
            @media (max-width: 1200px) {
                display: none;
            }

        }

        //Mobile Navbar
        .mobile-nav-icon {

            display: none;

            @media (max-width:1200px) {
                z-index: 1;
                display: block;
                position: fixed;
                right: 0;
                padding: 20px;
                background-color: $orange;
            }

            a {
                font-size: 25px;
                color: $white;
            }
        }
    }

    .mobile-navbar {
        display: none;
        z-index: -1;
        padding: 20px 0;

        @media (max-width: 1100px) {
            display: flex;
            flex-direction: column;
            position: fixed;
            left: -100%;
            top: 0;
            width: 30%;
            height: 100%;
            background-color: $background;
            box-shadow: 15px 0 16px -14px rgba(255, 123, 41, 0.31);
            align-items: center;
            transition: all 0.5s;
            z-index: 1;
            color: $white;
        }

        @media (max-width:635px) {
            width: 75%;
        }

        &.active {
            left: 0;
        }

        .mobile-menu {
            a {
                display: block;
                width: 100%;
                padding: 20px 0;
                font-size: 16px;
                color: $blue-bg;
                text-decoration: none;
                text-align: center
            }
        }

        .button-area {
            .signUp-button {
                @extend .button;
            }
        }
    }
}

// Homepage  
main {
    @include location();

    .commonContainer {
        width: 1182px!important;

        @media (max-width: 1100px) {
            width: 100%;
        }

        .top {
            @include location();
            justify-content: space-between;

            @media (max-width: 1200px) {
                margin-top: 30px;
            }

            @media (max-width: 900px) {
                flex-direction: column;
            }

            .content {
                width: 528px;
                @media (max-width: 620px) {
                    width: 100%;
                    text-align: center;
                }

                h2 {
                    font-size: 54px;
                    color: $dark-blue;
                    margin-top: 15px;
                    margin-bottom: 0;
                    @media (max-width: 620px) {
                        font-size: 45px;
                    }

                    &:first-child {
                        color: $black;
                        margin: 0;
                    }
                }

                p {
                    color: $grey;
                    font-size: 17px;
                    font-weight: normal;
                    @media (max-width: 620px) {
                        font-size: 14px;
                    }
                    
                }

                .button-area {
                    display: flex;
                    align-items: center;
                    @media (max-width: 620px) {
                        justify-content: center;
                    }

                    .discover {
                        @extend .button;
                        box-shadow: 0 24px 16px -14px rgba(255, 123, 41, 0.31);
                        margin-right: 20px;
                    }

                    .watch {
                        @include location();

                        /*  .harmonious-circle{
                            width: 22px;
                            height: 45px;
                            background-color: $orange;
                            border-bottom-left-radius: 90px;
                            border-top-left-radius: 90px;
                        }*/
                        .icon {
                            width: 37px;
                            height: 37px;
                            border-radius: 100%;
                            background-color: $white;
                            box-shadow: 0 24px 16px -14px rgba(255, 123, 41, 0.31);
                            @include location();
                            color: $black;
                            margin: 0 11px;
                        }

                        p {
                            color: $black;
                            font-size: 14px;
                            font-weight: bolder;
                        }

                    }
                }

            }

            .imgArea {
                @media (max-width: 1200px) {
                    display: none;
                }
            }

            .info {
                @media (max-width: 900px) {
                    display: flex;
                }

                @media (max-width: 720px) {
                    display: none;
                }

                .card-area {
                    display: flex;
                    align-items: center;

                    &:nth-child(2) {
                        margin: 16px 0;

                        @media (max-width: 900px) {
                            margin: 30px;
                        }
                    }

                    .icon-area {
                        width: 60px;
                        height: 60px;
                        border-radius: 10px;
                        box-shadow: 0 18px 17px 0px rgba(255, 123, 41, 0.1);
                        @include location();
                        margin: 0 14px;

                        i {
                            color: $orange;
                            font-size: 24px;
                        }
                    }

                    .card-info {
                        h3 {
                            margin: 0;
                            font-size: 36px;
                        }

                        p {
                            @include text();
                            margin: 5px 0 0 0;
                        }
                    }

                }
            }

        }

        .bottom {
            width: 100%;
            height: 120px;
            border-radius: 10px;
            background-color: $white;
            box-shadow: 0 23px 58px rgba(0, 0, 0, 0.07);
            margin-top: 50px;
            display: flex;
            align-items: center;

            @media (max-width: 1050px) {
                display: none;
            }

            .form-area {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 30px;

                .form {
                    display: flex;
                    width: 75%;
                    justify-content: space-between;

                    .dropdown-area {
                        font-size: 16px;

                        .select {
                            position: relative;
                            min-width: 130px;

                            select {
                                width: 100%;
                                border: none;
                                background: none;
                                cursor: pointer;
                                font-size: 16px;
                                outline: 0;
                                color: $grey;
                                margin-top: 20px;
                            }
                        }
                    }

                }

                .button {
                    display: flex;

                    &.search {
                        background-color: $blue-bg;
                        @include location();
                        text-decoration: none;
                        height: 60px;

                        .text {
                            @include location();

                            i {
                                font-size: 24px;
                                margin-right: 10px;
                            }

                            p {
                                font-size: 16px;
                                font-weight: normal;
                            }

                        }
                    }
                }
            }
        }
    }


}

section {
    margin: 50px 0;
    @include location();
    @media (max-width: 1200px) {
        margin: 30px 0;
    }
}

.commonContainer {
    width: 1182px;
}

.text-area {
    .title {
        display: flex;
        justify-content: space-between;

        h3 {
            font-size: 54px;
            margin: 0;
            @media (max-width: 720px) {
                font-size: 35px;
            }
        }

        .button-area {
            @include location();

            .button {
                width: 50px;
                height: 50px;
                border-radius: 100%;
                @include location();

                &.white {
                    background-color: $white;
                    box-shadow: 0 0 4px rgba(0, 0, 4, 0.15);
                    margin-right: 15px;

                    i {
                        color: $black;
                    }

                }

                &.orange {
                    background-color: $orange;
                    box-shadow: 0 9px 12px -3px rgba(255, 123, 41, 0.35);

                    i {
                        color: $white;
                    }
                }

                i {
                    font-size: 16px;
                }
            }

        }
    }

    p {
        @include text();
        margin: 15px 0 0 0;
    }
}

// Recently Added
#add {
    .card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
        grid-gap: 30px;
        margin-top: 20px;

        .card {
            padding: 15px;
            background-color: $white;
            border-radius: 10px;
            box-shadow: 0 0 4px rgba(0, 0, 4, 0.25);
            // :hover{
            //     box-shadow: 0 0 4px rgba(0, 14, 33, 0.08);

            // }
            .img-area {
                width: 100%;
                height: 178px;
                background-color: $background;
                border-radius: 9px;
                @include location();

                img {
                    width: auto;
                    height: 130px;
                }
            }

            .info-area {
                margin-top: 20px;
                height: 164px;
                position: relative;

                .title {
                    h4 {
                        margin: 0;
                        font-size: 18px;
                    }

                    p {
                        @include text();
                        font-size: 12px;
                        margin: 9px 0 0 0;
                    }
                }

                .details {
                    margin-top: 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    h3 {
                        font-size: 24px;
                        margin: 0;
                    }

                    .blue-button {
                        a {
                            font-size: 14px;
                            padding: 10px 16px;
                            color: $blue;
                            border: 1px solid $blue;
                            border-radius: 10px;
                            text-decoration: none;
                            font-weight: normal;
                        }
                    }

                }

                .bottom {
                    position: absolute;
                    bottom: 0;
                    width: 100%;

                    .text {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        p {
                            font-size: 12px;
                            margin: 0;
                            color: $grey;

                            &:first-child {
                                color: $black;
                            }
                        }

                    }

                }
            }
        }
    }

}

#categories{
    .commonContainer{
        .category{
            position: relative;
            width: 95%;
            height: 170px;
            margin-top: 30px;
            z-index: 2;
            padding: 15px;
            &::after{
                content:'';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 20px;
                background-image: linear-gradient( rgba(255,255,255,0) , rgba(0,0,0,100));
                opacity: 0.7;
            }
            &.x2{
                height: 370px;
            }
            .category-img{
                float: right;
                height: 100%;
                z-index: -1;
              }

                .button-area{
                    position: absolute;
                    z-index: 999;
                    background-color: $white;
                    width: 46px;
                    height: 26px;
                    border-radius: 44px;
                    box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.25);
                    @include location();
                    p{
                        color: $orange;
                        font-size: 16px; 
                        margin: 0;
                        font-weight: bolder;
                    }
                }
                .text{
                    position: absolute;
                    bottom: 0;
                    z-index: 999;
                    .category-title{
                        font-size: 18px;
                        color: $white;
                        font-weight: bolder;

                    }
                    .category-desc{
                        font-size: 12px;
                        font-weight: normal;
                        color: $desc;
                        margin-top: 5px;
                    }
                }
            }
          }
    }


// Feedback 
#feedback {
    .commonContainer {
        @include location();

        .left-area {
            @media (max-width: 1200px) {
                display: none;
            }
        }

        .right-area {
            width: 490px;
            margin-left: 100px;

            @media (max-width: 1200px) {
                width: 100%;
                margin-left: 0;
            }

            h3 {
                margin: 0;
                font-size: 46px;
                @media (max-width: 720px) {
                    font-size: 35px;
                }
            }

            p {
                @include text();
                font-size: 18px;
                margin: 20px 0;
            }

            .info-card {
                display: flex;
                align-items: center;
                margin-top: 20px;

                .photo {
                    width: 64px;
                    height: 64px;
                    margin-right: 20px;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 100%;
                    }
                }

                .text {
                    * {
                        margin: 0;
                        font-size: 14px !important;
                    }

                    p {
                        @include text();
                    }

                    i {
                        color: $yellow;
                        font-size: 12px;
                    }



                }
            }
        }
    }


}

// Newsletter
#newsletter {
    margin: 180px 0 50px 0;
    @media (max-width: 1200px) {
        margin: 0 0 30px 0; 
    }
    @media (max-width: 660px) {
        display: none;
    }

    .commonContainer {
        border-radius: 30px;
        background-color: $blue-bg;
        display: flex;
        position: relative;

        @media (max-width: 1200px) {
            justify-content: center;
        }

        .left-area {
            padding: 75px 70px;
            height: 250px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .text {
                * {
                    margin: 0;
                    color: $white;
                }

                h2 {
                    font-size: 39px;
                }

                p {
                    @include text();
                    color: $white;
                    margin-top: 14px;
                }
            }

            .email {
                width: 480px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                input {
                    margin: 0px;
                    padding-left: 30px;
                    width: 100%;
                    outline: none;
                    border: none;
                    height: 70px;
                    border-radius: 10px;

                    &::placeholder {
                        font-weight: normal;
                        font-size: 16px;
                        color: $placeholder;
                    }
                }

                .send-button {
                    padding: 10px;
                    position: absolute;

                    button {
                        border-radius: 8px;
                        border: none;
                        cursor: pointer;
                        color: white;
                        background-color: $orange;
                        box-shadow: 0 14px 15px -7px rgba(255, 123, 41, 0.54);

                        i {
                            padding: 13px;
                            font-size: 24px;
                        }
                    }
                }


            }
        }

        .right-area {
            position: absolute;
            bottom: 0;
            right: 0;
            margin-right: 150px;

            @media (max-width: 1200px) {
                display: none;
            }
        }
    }
}

// Footer
footer {
    @include location();


    .footer-container {
        width: 1182px;
        margin: auto;

        @media (max-width: 1325px) {
            width: 90%;
        }

        .footer-boxes {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .footer-box {
                width: 200px;

                @media (max-width: 520px) {
                    width: 150px;
                }

                b {
                    font-size: 18px;
                }

                ul {
                    list-style-type: none;
                    padding: 0;

                    li {
                        @include text();
                        font-size: 14px;
                        // font-weight: bold;


                    }

                    a {
                        color: $blue;
                        text-decoration: none;
                    }
                }

            }

        }

        hr {
            width: 100%;
            border: none;
            height: 1px;
            background-color: $line;
        }


    }

    .bottom-area {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
            @media (max-width: 720px) {
                width: 100px;
            }

            img {
                width: 100%;
            }
        }

        p {
            font-size: 14px;

            @media (max-width: 720px) {
                font-size: 12px;
                text-align: center;
            }
        }

        #web-navbar {
            width: 1182px;

            .navbar {
                width: 100%;

                .menu {
                    @media (max-width: 1200px) {
                        display: none;
                    }
        
                    ul {
                        li {
                            font-size: 12px !important;
                            font-weight: normal !important;
                            padding: 0 25px !important;
                        }
                    }
                }

                .social-media {
                    display: flex;

                    a {
                        i {
                            font-size: 18px;
                            color: $grey;

                            &.fa-instagram {
                                margin: 0 46px;
                            }
                        }
                    }

                }
            }
        }



    }


}